{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
table, th, td {
  border: 1px solid black;
    text-align: center;
}
</style>
<body>
<table style="width: 100%">
    <tr>
        <th rowspan="2">{%  if current_page == "categorized" %}Categorized{%  else %}<a href="/">Categorized</a> {% endif %}</th>
        <th rowspan="2">{%  if current_page == "payment_breakdown" %}MasterCard Payment Breakdown{%  else %}<a href="/master_card_payment_breakdown">MasterCard Payment Breakdown</a> {% endif %}</th>
        <th rowspan="2">{%  if current_page == "data_is_beautiful" %}r/DataIsBeautiful{%  else %}<a href="/r/data_is_beautiful">r/DataIsBeautiful</a> {% endif %}</th>

        <th colspan="2">All Categorized Transactions</th>

        <th rowspan="2">{%  if current_page == "mappings" %}Mappings{%  else %}<a href="/mappings">Mappings</a> {% endif %}</th>

        <th rowspan="2">{%  if current_page == "not_reimbursed" %}Awaiting Repayments{%  else %}<a href="/awaiting_payment">Awaiting Repayments</a> {% endif %}</th>
    </tr>
    <tr>
        <th>{%  if current_page == "master_card" %}MasterCard{%  else %}<a href="/master_card">MasterCard</a> {% endif %} </th>
        <th>{%  if current_page == "debit_card" %}Debit Card{%  else %}<a href="/debit_card">Debit Card</a> {% endif %}</th>
    </tr>
    <tr>
        <th colspan="6">Uncategorized</th>
    </tr>
    <tr>
        <th colspan="3">{%  if current_page == "uncategorized_mastercard" %}MasterCard{%  else %}<a href="/uncategorized/master_card">MasterCard</a> {% endif %}</th>
        <th colspan="3">{%  if current_page == "uncategorized_debitcard" %}Debit Card{%  else %}<a href="/uncategorized/debit_card">Debit Card</a> {% endif %}</th>
    </tr>
    <tr>
        <th rowspan="2" colspan="3">{%  if current_page == "pending" %}Pending Transactions/Items{%  else %}<a href="/pending_transactions">Pending Transactions/Items</a> {% endif %}</th>

        <th colspan="3">Create Pending</th>

    </tr>
    <tr>
        <th colspan="2">{%  if current_page == "create_pending_transaction" %}Transaction{%  else %}<a href="/transaction/pending/new">Transaction</a> {% endif %}</th>
        <th colspan="2">{%  if current_page == "create_pending_item" %}Item{%  else %}<a href="/item/pending/new">Item</a> {% endif %}</th>
    </tr>
    <tr>

        <th colspan="3">Un-Transferred</th>
        <th rowspan="2" colspan="3"><a href="/legacy_import">Legacy Import</a></th>
    </tr>
    <tr>
        <th>{%  if current_page == "un_transferred_legacy_mastercard" %}MasterCard{%  else %}<a href="/un_transferred_legacy/master_card">MasterCard</a> {% endif %}</th>
        <th>{%  if current_page == "un_transferred_legacy_debitcard" %}Debit Card{%  else %}<a href="/un_transferred_legacy/debit_card">Debit Card</a> {% endif %}</th>
    </tr>
</table>
<br><br>
{#<form method="post" action="/csv/upload/transaction_details" enctype="multipart/form-data">#}
{#    {%  csrf_token %}#}
{#    <input type="file" name="transaction_details" required>#}
{#    <button type="submit">Upload Transaction Details</button>#}
{#</form>#}
{#<form method="post" action="/csv/upload/debit_card" enctype="multipart/form-data">#}
{#    {%  csrf_token %}#}
{#    <input type="file" name="transactions" required>#}
{#    <button type="submit">Upload Debit Card CSV</button>#}
{#</form>#}
