{%  include 'header.html' %}
<table style="text-align: left">
    <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Payment Method</th>
        <th>Purchased By</th>
        <th>Purchase Target</th>
        <th>Method of Transaction</th>
        <th>Type</th>
        <th>Name</th>
        <th>Memo</th>
        <th>Price</th>
        <th>Store</th>
        <th>Receipts</th>
        <th>Category</th>
        <th>Note</th>
    </tr>
    {%  for transaction in transactions %}
        <tr>
            <td>{{ transaction.get_month }}</td>
            <td>{{ transaction.get_date }}</td>
            <td>{{ transaction.payment_method }}</td>
            <td>{{ transaction.purchased_by }}</td>
            <td>{{ transaction.purchase_target }}</td>
            <td>{{ transaction.method_of_transaction }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.name }}</td>
            <td>{{ transaction.memo }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.store }}</td>
            <td>{{ transaction.receipt }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.note }}</td>
        </tr>
    {%  endfor %}
</table>
