{%  include 'header.html' %}
<br><a href="{{ previousButtonLink|safe }}" >Previous Page</a> | <a  href="{{ nextButtonLink|safe }}" >Next page</a>
<form method="post" action="">
    <button type="submit">Update Linked Transactions</button>
    {%  csrf_token %}
    <table style="text-align: left">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Payment Method</th>
            <th>Type</th>
            <th>Name</th>
            <th>Memo</th>
            <th>Price</th>
            <th>Store</th>
            <th>Receipts</th>
            <th>Category</th>
            <th>Transaction to Link</th>
        </tr>
        {%  for legacy_transaction_details_csv_transaction in legacy_transaction_details_csv_transactions %}
            <tr>
                <td><input readonly type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][id]" value="{{ legacy_transaction_details_csv_transaction.id }}"></td>
                <td>{{ legacy_transaction_details_csv_transaction.get_date }}</td>
                <td><input type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][payment_method]" value="{{ legacy_transaction_details_csv_transaction.payment_method }}"></td>
                <td>{{ legacy_transaction_details_csv_transaction.type }}</td>
                <td><input type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][name]" value="{{ legacy_transaction_details_csv_transaction.name }}"></td>
                <td><input type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][memo]" value="{{ legacy_transaction_details_csv_transaction.memo }}"></td>
                <td>{{ legacy_transaction_details_csv_transaction.price }}</td>
                <td><input type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][store]" value="{{ legacy_transaction_details_csv_transaction.store }}"></td>
                <td>{{ legacy_transaction_details_csv_transaction.receipt }}</td>
                <td><input type="text" name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][category]" value="{{ legacy_transaction_details_csv_transaction.category }}"></td>
                <td>
                    <select name="[legacy_transaction_details_csv_transactions][{{legacy_transaction_details_csv_transaction.id}}][bank_transaction]">
                        <option value="None">None</option>
                        {%  for unlinked_transaction in unlinked_transactions %}
                            <option value="{{ unlinked_transaction.id }}">{{ unlinked_transaction }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {%  endfor %}
    </table>
    <button type="submit">Update Linked Transactions</button>
</form>