{%  include 'header.html' %}

<h1>Create/Update a Transaction Refund Mapping</h1>
<form method="post" action="">
    <button type="submit">Save/Update Mapping</button>
    {%  csrf_token %}
    <br><br><b>Original Transaction: </b>
    <select name="original_transaction">
        <option value="None">None</option>
        {%  for charge in charges %}
            {%  if transaction_refund_mapping.original_transaction.id == charge.id %}
                <option selected value="{{ charge.id }}">{{ charge.get_date }} | {{ charge.payment_method }} | {{ charge.purchase_target }} | {{ charge.who_will_pay }} | {{ charge.type }} | {{ charge.name }} | {{ charge.formatted_price }} | {{ charge.note }}</option>
            {%  else %}
                <option value="{{ charge.id }}">{{ charge.get_date }} | {{ charge.payment_method }} | {{ charge.purchase_target }} | {{ charge.who_will_pay }} | {{ charge.type }} | {{ charge.name }} | {{ charge.formatted_price }} | {{ charge.note }}</option>
            {%  endif %}
        {% endfor %}
    </select>

    <br><br><b>Refund Transaction: </b>
    <select name="refund_transaction">
        <option value="None">None</option>
        {%  for refund in refunds %}
            {%  if transaction_refund_mapping.refund_transaction.id == refund.id %}
                <option selected value="{{ refund.id }}">{{ refund.get_date }} | {{ refund.payment_method }} | {{ refund.purchase_target }} | {{ refund.who_will_pay }} | {{ refund.type }} | {{ refund.name }} | {{ refund.formatted_price }} | {{ refund.note }}</option>
            {%  else %}
                <option value="{{ refund.id }}">{{ refund.get_date }} | {{ refund.payment_method }} | {{ refund.purchase_target }} | {{ refund.who_will_pay }} | {{ refund.type }} | {{ refund.name }} | {{ refund.formatted_price }} | {{ refund.note }}</option>
            {%  endif %}
        {% endfor %}
    </select>
</form>