{%  include 'header.html' %}
<form method="post" action="" enctype="multipart/form-data">
    <br><br>
    {%  csrf_token %}
    <button type="submit" name="action" value="update_item">Create or Update Finalized Item</button>
    <button type="submit" name="action" value="delete_item">Delete Item</button>
    <p>Linked Transaction: {{ finalized_transaction }}</p>
    <br><br><b>Month: </b>{{ finalized_transaction.get_front_end_month }}
    <br><br><b>Date: </b>{{ finalized_transaction.get_front_end_date }}
    <br><br><b>Payment Method: </b>{{ item.payment_method }}
    <br><br><b>Purchase Target: </b>
        <select name="purchase_target">
            {%  for purchase_target_choice in purchase_target_choices %}
                {%  if purchase_target_choice == item.purchase_target %}
                    <option selected value="{{ purchase_target_choice }}">{{ purchase_target_choice }}</option>
                {%  else %}
                    <option value="{{ purchase_target_choice }}">{{ purchase_target_choice }}</option>
                {% endif %}
            {% endfor %}
        </select>
    <br><br><b>Who Will Pay: </b>
        <select name="who_will_pay">
            {%  for who_will_pay_choice in who_will_pay_choices %}
                {%  if who_will_pay_choice == item.who_will_pay %}
                    <option selected value="{{ who_will_pay_choice }}">{{ who_will_pay_choice }}</option>
                {%  else %}
                    <option value="{{ who_will_pay_choice }}">{{ who_will_pay_choice }}</option>
                {% endif %}
            {% endfor %}
        </select>
    <br><br><b>Name: </b><input type="text" name="name" value="{{ item.name }}">
    <br><br><b>Price: </b><input type="number" step="any" name="price" value="{{ item.price }}">
    <br><br><b>Store: </b> <input type="text" name="store" value="{{ item.store }}">
    <br><br><b>Note: </b><input type="text" name="note" value="{{ item.note }}">
    <br><br><b>Processed: </b><input type="checkbox" name="processed" {%  if item.processed %} checked {%  endif %}> {{ item.processed }}
    <br><br><b>Category: </b>
        <select name="categories">
            {%  for category in categories %}
                {%  if category.category == item.category.category %}
                    <option selected value="{{ category.id }}">{{ category.category }}</option>
                {%  else %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endif %}
            {% endfor %}
        </select>
    <br><br><b>Refund Status: </b>
        {% if transactions_refunding_item|length == 0 %}
            <p>NA</p>
        {%  else %}
            <p>Transactions refunding this Item:</p>
            {% for transaction_refunding_item in transactions_refunding_item %}
                <br><br>{{ transaction_refunding_item }}
            {%  endfor %}
        {%  endif %}
    <br><br><b>Relevant Reimbursements: </b>
        {% if transactions_reimbursing_item|length == 0 %}
            <p>NA</p>
        {%  else %}
            <p>Transactions that reimburse this item:</p>
            {% for transaction_reimbursing_item in transactions_reimbursing_item %}
                <br><br>{{ transaction_reimbursing_item }}
            {%  endfor %}
        {%  endif %}
    <br><br><b>Relevant Paybacks: </b>
        {% if transactions_paying_back_item|length == 0 %}
            <p>NA</p>
        {%  else %}
            <p>Transactions that reimburse this item:</p>
            {% for transaction_paying_back_item in transactions_paying_back_item %}
                <br><br>{{ transaction_paying_back_item }}
            {%  endfor %}
        {%  endif %}
    <br><br><b>Item Label: </b>
        {% if labels|length == 0 %}
            <p>No labels</p>
        {%  else %}
            {% for label in labels %}
                <br><br>{{ label }}
            {%  endfor %}
        {%  endif %}
    <br><br><b>Items: </b>
        {% if items|length == 0 %}
            <p>No items</p>
        {%  else %}
            <b>Items in this item:</b>
            {% for item in items %}
                <br><br>{{ item }}
            {%  endfor %}
        {%  endif %}
</form>
