{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
table, th, td {
  border: 1px solid black;
    text-align: center;
}
</style>
<body>
<table style="width: 100%">
    <tr>
        <th rowspan="2">{%  if current_page == "categorized" %}Combined Categorized{%  else %}<a href="/">Combined Categorized</a> {% endif %}</th>
        <th colspan="2">Categorized Bank Transactions</th>

        <th colspan="2">Uncategorized Bank Transactions</th>

        <th colspan="2">All Bank Transactions</th>

        <th colspan="2">Upload Bank CSVs</th>
    </tr>
    <tr>
        <th>{%  if current_page == "categorized_master_card" %}MasterCard{%  else %}<a href="/master_card/categorized">MasterCard</a> {% endif %} </th>
        <th>{%  if current_page == "categorized_debit_card" %}Debit Card{%  else %}<a href="/debit_card/categorized">Debit Card</a> {% endif %}</th>
        <th>{%  if current_page == "uncategorized_master_card" %}MasterCard{%  else %}<a href="/master_card/uncategorized">MasterCard</a> {% endif %} </th>
        <th>{%  if current_page == "uncategorized_debit_card" %}Debit Card{%  else %}<a href="/debit_card/uncategorized">Debit Card</a> {% endif %}</th>

        <th>{%  if current_page == "all_master_card" %}MasterCard{%  else %}<a href="/master_card/all">MasterCard</a> {% endif %} </th>
        <th>{%  if current_page == "all_debit_card" %}Debit Card{%  else %}<a href="/debit_card/all">Debit Card</a> {% endif %}</th>

        <th>{%  if current_page == "upload_master_card_csv" %}MasterCard{%  else %}<a href="/csv/upload/master_card">MasterCard</a> {% endif %} </th>
        <th>{%  if current_page == "upload_debit_card_csv" %}Debit Card{%  else %}<a href="/csv/upload/debit_card">Debit Card</a> {% endif %}</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>{%  if current_page == "payment_breakdown" %}MasterCard Payment Breakdown{%  else %}<a href="/master_card_payment_breakdown">MasterCard Payment Breakdown</a> {% endif %}</th>
        <th>{%  if current_page == "mappings" %}Mappings{%  else %}<a href="/mappings">Mappings</a> {% endif %}</th>
        <th>{%  if current_page == "not_reimbursed" %}Awaiting Repayments{%  else %}<a href="/awaiting_payment">Awaiting Repayments</a> {% endif %}</th>
        <th colspan="6">{%  if current_page == "data_is_beautiful" %}r/DataIsBeautiful{%  else %}<a href="/r/data_is_beautiful">r/DataIsBeautiful</a> {% endif %}</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th rowspan="2" colspan="5">{%  if current_page == "pending" %}Pending Transactions/Items{%  else %}<a href="/pending_transactions">Pending Transactions/Items</a> {% endif %}</th>
        <th colspan="4">Create Pending</th>

    </tr>
    <tr>
        <th colspan="2">{%  if current_page == "create_pending_transaction" %}Transaction{%  else %}<a href="/transaction/pending/new">Transaction</a> {% endif %}</th>
        <th colspan="2">{%  if current_page == "create_pending_item" %}Item{%  else %}<a href="/item/pending/new">Item</a> {% endif %}</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>

        <th colspan="3">Un-Transferred</th>
        <th rowspan="2" colspan="6"><a href="/legacy_import">Legacy Import</a></th>
    </tr>
    <tr>
        <th>{%  if current_page == "un_transferred_legacy_mastercard" %}MasterCard{%  else %}<a href="/un_transferred_legacy/master_card">MasterCard</a> {% endif %}</th>
        <th colspan="2">{%  if current_page == "un_transferred_legacy_debitcard" %}Debit Card{%  else %}<a href="/un_transferred_legacy/debit_card">Debit Card</a> {% endif %}</th>
    </tr>
</table>
<br><br>