{%  include 'header.html' %}
<form method="post" action="">
    <button type="submit">Update Transactions</button>
    {%  csrf_token %}
    <table style="text-align: left">
        <tr>
            <th>ID</th>
            <th>Month</th>
            <th>Date</th>
            <th>Payment Method</th>
            <th>Method of Transaction</th>
            <th>Type</th>
            <th>Purchased By</th>
            <th>Purchased Target</th>
            <th>Name</th>
            <th>Memo</th>
            <th>Price</th>
            <th>Store</th>
            <th>Receipts</th>
            <th>Category</th>
            <th>Note</th>
        </tr>
        {%  for transaction in transactions %}
            <tr>
                <td><a target="_blank" href="{{transaction.get_update_link}}">Edit</a> <input readonly size="5" type="number" name="[un_categorized_transaction][{{transaction.id}}][id]" value="{{ transaction.id}}"></td>
                <td><input type="date" name="[un_categorized_transaction][{{transaction.id}}][month]" value="{{ transaction.get_front_end_month }}"></td>
                <td>{{ transaction.get_date }}</td>
                <td>{{ transaction.payment_method }}</td>
                <td>{{ transaction.payment_method }}</td>
                <td>{{ transaction.method_of_transaction }}</td>
                <td>
                    <select name="[un_categorized_transaction][{{transaction.id}}][purchased_by]">
                        <option value="None">None</option>
                        {%  for purchased_by  in purchased_bys %}
                            <option value="{{ purchased_by.id }}">{{ purchased_by }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="[un_categorized_transaction][{{transaction.id}}][purchased_target]">
                        <option value="None">None</option>
                        {%  for purchase_target in purchase_targets %}
                            <option value="{{ purchase_target.id }}">{{ purchase_target }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ transaction.type }}</td>
                <td>[{{ transaction.name }}]</td>
                <td>[{{ transaction.memo }}]</td>
                <td>{{ transaction.formatted_price }}</td>
                <td>{{ transaction.store }}</td>
                <td>{{ transaction.receipt }}</td>
                <td>
                    <select name="[un_categorized_transaction][{{transaction.id}}][category]">
                        <option value="None">None</option>
                        {%  for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <td><input type="text" name="[un_categorized_transaction][{{transaction.id}}][notes]" value="{{ transaction.note }}"></td>
                </td>
            </tr>
        {%  endfor %}
    </table>
    <button type="submit">Update Transactions</button>
</form>